/* Menu Déroulant */
.dropdownmenu {
  width: 100px;
  height: 50px;
  background-color: rgb(0, 0, 0);
}
.dropdownmenu:hover {
  height: 500px;
  transition: 2s;
}

/* Carrée qui tourne*/
.square{
  background-color: rgb(253, 11, 11);
  width:100px;
  height:100px;
  margin:20px auto;
  animation: turn 3s infinite;
}

/* Balle qui rebondit*/
.ball{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(241, 117, 79);
  animation: bouncing 0.5s infinite;
  animation-direction: alternate;
}

.ball-container{
  width: 50px;
  height: 200px;
  background : white;
}


/* Loader */
.loadercss span{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #09c76e;
}

.loadercss span:nth-child(1){
  animation: loading 3s infinite;
}

.loadercss span:nth-child(2){
  animation: loading 3s  0.3s infinite;
}

.loadercss span:nth-child(3){
  animation: loading 3s 0.6s infinite;
}

/* run */

.col4{
  height: 30vw;
}
.bird{
  float: left;
  display: inline-block;
  width: 2vw;
  height: 2vw;
}
.b6{
  background: #00ff88;
  animation: fly 7s 1s infinite ;
}
.b5{
  background: #0099ff;
  animation: fly 7s 2s infinite ;
}
.b4{
  background: #8728f3;
  animation: fly 7s 3s infinite ;
}
.b3{
  background: #ec72c8;
  animation: fly 7s 4s infinite ;
}
.b2{
  background: #f74058;
  animation: fly 7s 5s infinite ;
}
.b1{
  background: #f7d956;
  animation: fly 7s 6s infinite ;
}

/* Carrousel */

.carrousel{ 
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 1.5s infinite linear;
}
.carrousel div{
	top: 0;
	left: 0;
	margin: 0px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	position: absolute;
}

.square1{
	border: 1px solid white;
	background-color: #4CFFBB;
	transform: rotateY(0deg) translateZ(25px);
}

.square2{
	border: 1px solid white;
	background-color: white;
	transform: rotateY(60deg) translateZ(25px);
}

.square3{
	border: 1px solid white;
	background-color: #007F4F;
	transform: rotateY(120deg) translateZ(25px);
}

.square4{
	border: 1px solid white;
	background-color: white;
	transform: rotateY(180deg) translateZ(25px);
}

.square5{
	border: 1px solid white;
	background-color: lightgreen;
	transform: rotateY(240deg) translateZ(25px);
}

.square6{
	border: 1px solid white;
	background-color: white;
	transform: rotateY(300deg) translateZ(25px);
}




/* Animations */

@keyframes turn{
  10% {transform: rotate(360deg)};
  100% {transform: rotate(360deg)};
  from {background-color: #00ff88;}
  to {background-color: rgb(25, 108, 216);}
  
}
@keyframes bouncing {
  from { transform: translate3d(0, 150px, 0);}
  to   { transform: translate3d(0, 0, 0); }
  
}
@keyframes loading{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}

@keyframes fly{
  0%   {left:0; top:0px;}
  25%   {left:50%; top:0px; transform : rotate(360deg);}
  50%   {left:50%; top:90%; transform : rotate(0deg);}
  75%   {left:0; top:90%; transform : rotate(360deg);}
 100%   {left:0 ;top:0px;  transform : rotate(0deg);}
}

@keyframes rotation{
	0%{
		transform: rotateY(-360deg) rotateX(-360deg);
	}

	100%{
		transform: rotateY(0deg) rotateX(0deg);
	}
}

@keyframes disp{
	0%{
		top: -100px;
		left: -100px;
	}

	25%{
		top: -500px;
		left: 800px;
	}

	50%{
		top: -100px;
		left: -800px;
	}

	75%{
		top: -500px;
		left: -100px;
	}

	100%{
		top: -100px;
		left: -100px;
	}
}




/* colonnes */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.container{
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* ligne */

.row{
  margin: 30px 0;
}

/* Cases */
.case{
  background-color: #eee;
  padding: 50px 0;
}

/* toutes les anim */

.loader{
  position: relative;
  margin: 0 auto;
}

/*///////
