.darkGreen{
    background-color: #2E7F57;
    padding: 150px;
}
.cyan{
    background-color: #0FFF89;
    padding: 125px;
    border: 0.5px solid black;
}
.lightGreen{
    background-color: #5BFFAF;
    padding: 62.5px;
    border: 0.5px solid black;
}