html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
    width: 100%;
    height : 150%;
}
footer {
	display : table-row;
    height: 100px; /* à titre d'exemple */
    background: black;
    color: aliceblue;
    text-align: center;
    height : 50px;
}
.Menu{
    background: rgb(208,103,28);
    color: aliceblue;
    border: 1px black;
    border-radius: 10px;
    width: 120px;
    height: 100px;
    position: sticky;
    float: left;
}

.list{
    margin-top : 12px;
    list-style-type : none;
}

.Text{
    display: inline-block;
    float: left;
}
